{% extends "base.html" %}
{% block content %}
	  {% if msg_type != "" %}
	  <div class="form-login-notice alert alert-{{ msg_type }}">
	  	<button type="button" class="close" data-dismiss="alert">&times;</button>
	  	<h4>{{ alert_title }}</h4>
	  	{% raw msg %}
	  </div>
	  {% end %}
      {% if action == "" or action != "newpass" %}
      <form class="form-login" id="step1" method="post">
        <h2 class="form-login-heading">Reset Password</h2>
        <p>To reset your password you need to provide both your email and username.</p>
        <input type="text" id="user" name="user" class="input-block-level" placeholder="Username">
        <input type="text" id="email" name="email" class="input-block-level" placeholder="Email">
        <button class="btn btn-large btn-primary" type="submit">Confirm Identity</button>
      </form>
      {% elif action == "newpass" %}
      <form class="form-login" id="step2" method="post">
        <h2 class="form-login-heading">New Password</h2>
        <p>Please enter your new password and again to confirm.</p>
        <input type="hidden" name="email" value="{{ email }}" />
        <input type="hidden" name="action" value="newpass" />
        <input type="password" id="pw1" name="pw1" class="input-block-level" placeholder="New Password">
        <input type="password" id="pw2" name="pw2" class="input-block-level" placeholder="Confirm">
        <button class="btn btn-large btn-primary" id="respw" type="submit">Reset Password</button>
        <hr />
        <p>If the reset is successful you'll be taken back to the login screen, otherwise an error will appear.</p>
      </form>
      {% end %}
{% end %}
